* {
    --header-background-image-offset: 0px
  }

  .main-container {
    margin-left: 0;
    width: 100%;
  }

  .fandom-sticky-header {
    left: 0;
  }

  .fandom-community-header__background, .fandom-community-header__background.fullScreen {
    width: 100%;
    transform: translateY(0);
    background-size: 100% auto;
  }

  .wikia-bar, .global-footer, .mcf-en {
    display: none;
  }

  .global-navigation {
    display: none;
  }

  .global-top-navigation{
    display: none;
  }

  .global-explore-navigation {
    display: none;
  }

  .resizable-container {
    top: 0
  }


  .fandom-community-header__top-container .wiki-tools__search, .global-registration-buttons {
      display: inherit;
  }

  .fandom-sticky-header:not(.community-navigation) {
    display: none !important;
  }

  .wiki-tools.wds-button-group :nth-child(2) {
    border-radius: 0;
  }

.page__right-rail, .unified-search__layout__right-rail {
  display: none;
}

.unified-search__layout__main {
  width: calc(100% + 320px);
}
